<style>
  h1{
    color: bisque;
    background-color: black;
    font-size: xx-large;
    text-align: center;

  }
  img{
    margin-left: 20%;
  }
  .text{
text-align: center;
color:navy;
text-shadow: 1cm;
text-decoration: solid;
font-size: large;
font-weight: 100;

  }
</style>
<h1><b>Nicholas james vujicic</b></h1>
<hr size="20px" >
<body>
  <div class="con">
    <div class="img">
  <img src="https://assets.website-files.com/5f34328036a27c22711defb7/5f4d16eb0fa1605dfe34d9b9_nick-v-2.jpg" height="700px" weight="500px">
    </div>
    <div class="text">
<p>
  Nicholas James Vujicic (/ˈvuːɪtʃɪtʃ/ VOO-itch-itch;[1] born 4 December 1982)[2][3] is an Australian American[4] Christian evangelist and motivational speaker of Serbian descent. Vujicic has tetra-amelia syndrome, a disorder characterised by the absence of arms and legs.
  </p>
  <hr>
<p>
Early life
Vujicic was born in Melbourne, Australia, in 1982 to Dušanka and Borislav Vujičić, Serbian immigrants from Yugoslavia.[5][6] Vujicic's father is a pastor.[7] Vujicic was born with tetra-amelia syndrome, a rare disorder characterised by the absence of arms and legs.[8]
</p>
<p>
According to Vujicic's autobiography, his mother refused to see him or hold him immediately after his birth; instead, she and her husband left the hospital. He was bullied at school because of his medical condition. At one point, Vujicic attempted to commit suicide by drowning himself, but he was saved.[9] While Vujicic's parents initially struggled with grief and confusion about his condition, they "raised him to look at the bright side of life".[7]
</p>
<p>
Originally, the toes of one of Vujicic's feet were fused. An operation was performed to separate the toes so that he can use them as fingers. Vujicic refers to this foot as his "chicken drumstick".[10][8]
</p>
<p>
When Vujicic was 17 years old, he started giving inspirational talks at school and church-sponsored events.[11]
</p>
<p>
Vujicic graduated from Griffith University at the age of 21 with a Bachelor of Commerce degree, with a double major in accountancy and financial planning.[12][better source nee
</p>

<link rel="icon" type="image/icon" href="https://th.bing.com/th?id=OIP.ckeUFk-yid0vfWnd56w7wAHaHa&w=250&h=250&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2">
<a href="https://en.wikipedia.org/wiki/Nick_Vujicic#Books_and_publications" target="_blank"> know more</a>
</div>
  </div>
</body>